<div class="sign-up-main">
 <div class="title"><h2>新規会員登録</h2></div>

 <div class="sign-up-contents">
 <%= form_with model: @user, url: user_registration_path, class: 'registration-main', local: true do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="registration-field">
    <label class="form-text">会員タイプ</label>
  </div>
    <%= f.collection_select(:member_type_id, MemberType.all, :id, :name, {}, {class:"select-box-r"}) %>
  <div class="registration-field">
    ニックネーム ※団体の方は団体名を記入してください
  </div>
    <%= f.text_area :nickname, class:"name-box", placeholder:"例) ドギーちゃん", maxlength:"40" %>
  <div class="registration-field">
    お名前 ※フルネームで入力してください
  </div>
    <%= f.text_area :name, class:"name-box", placeholder:"例) 山田太郎"%>
  <div class="registration-field">
    フリガナ ※フルネームで入力してください
  </div>
    <%= f.text_area :name_kana, class:"name-box", placeholder:"例) ヤマダタロウ"%>
  <div class="registration-field">
    性別
  </div>
    <%= f.collection_select(:gender_id, Gender.all, :id, :name, {}, {class:"select-box-r"}) %>
  <div class="registration-field">
    <label class="form-text">郵便番号</label>
  </div>
    <%= f.text_field :postal_code, class:"postal-code", placeholder:"例）123-4567", maxlength:"8" %>
  <div class="registration-field">
    <label class="form-text">都道府県</label>
  </div>
    <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"select-box-r", id:"prefecture"}) %>
  <div class="registration-field">
    <label class="form-text">市区町村</label>
  </div>
  <%= f.text_field :city, class:"text-box-r", placeholder:"例）大阪市北区"%>
  <div class="registration-field">
    <label class="form-text">建物名 ※任意</label>
  </div>
  <%= f.text_field :city, class:"text-box-r", placeholder:"例）メロディングビル101"%>
  <div class="registration-field">
    <label class="form-text">電話番号</label>
  </div>
  <%= f.text_field :phone_number, class:"text-box-r", placeholder:"例）09012345678"%>
  <div class="registration-field">
    <label class="form-text">メールアドレス</label>
  </div>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "text-box-r" %>
  <div class="registration-field">
    <label class="form-text">パスワード</label>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %>文字以上)</em>
    <% end %><br />
  </div>
    <%= f.password_field :password, autocomplete: "new-password", class: "text-box-r" %>
  

  <div class="registration-field">
    <label class="form-text">パスワード（再入力）</label>
  </div>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "text-box-r" %>
  

  <div class="sign-up-actions">
    <%= f.submit "登録する", class:"sign-up-btn" %>
  </div>
 <% end %>
 </div>
 
 <div class='top-link'>
   <%= link_to image_tag("link-top.png", class: "top-icon"), "/" %>
 </div>
</div>