<%= render "shared/header" %>

<div class="main">
  <div class="left-contents">
    <div class="thema">やさしい未来のために。</div>
  </div>
  <div class="right-contents">
    <div class="boxes">
      <div class=box1>
         <div><%=link_to '犬を探す', dogs_path, class: "btn-dog" %><p class="heart"></p></div>
         <div class="english-dog">Dogs</div>
      </div>
      <div class=box2>
      </div>
      <div class=box3>
      </div>
      <div class=box4>
        <div><%=link_to 'ネコを探す', "#", class: "btn-cat" %><p class="heart"></p></div>
        <div class="english-cat">Cats</div>
      </div>
      <div class=box5>
        <div><%=link_to 'スタッフの思い', "#", class: "btn-staff" %><p class="heart"></p></div>
        <div class="english-staff">Staff feelings</div>
      </div>
      <div class=box6>
      </div>
      <div class=box7>
      </div>
      <div class="box8">
        <div><%=link_to '今からあなたにできること', "#", class: "btn-you" %><p class="star"></p></div>
        <div class="english-you">What you can do from now</div>
      </div>
    </div>
  </div>
</div>
